* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.desk, .tabletop, .tabletop-border, .left-leg,
.right-leg, .laptop, .screen-border, .camera, 
.screen, .base, .notch, .mug, .mug-body,
.mug-handle, .pen-cup, .pen-cup-body, 
.pen-cup-base, .pen, .pen-body, .pen-top, 
.pencil, .pencil-top, .eraser, .books, 
.bottom-book, .middle-book, .top-book, .plant, 
.pot, .pot-rim, .stem, .leaf-1, .leaf-2, 
.leaf-3, .chair, .chair-top, .chair-back,
.chair-back-1, .chair-back-2, .chair-back-3,
.chair-back-4, .chair-back-5, .chair-back-6,
.cat, .cat-body, .cat-head, .cat-left-ear,
.cat-right-ear, .cat-tail, .logo, .label {
  position: absolute;
}

.image-wrap {
  z-index: -1;
  position: relative;
  width: 1500px;
  height: 500px;
  background-color: #e6f2ff;
  .desk {
    bottom: 0;
    right: 220px;
    width: 800px;
    height: 150px;
    .tabletop {
      z-index: 1;
      width: 100%;
      height: 10px;
      background-color: #bf8040;
      border-radius: 2px 2px 4px 4px;
    }
    .tabletop-border {
      z-index: 1;
      top: 10px;
      left: 1%;
      width: 98%;
      height: 30px;
      background-color: #996633;
      border-radius: 0 0 4px 4px;
      border-bottom: 2px solid #86592d;
    }
    .left-leg, .right-leg {
      top: 40px;
      width: 30px;
      height: 110px;
      background-color: #996633;
    }
    .left-leg {
      left: 2%;
    }
    .right-leg {
      right: 2%;
    }
  }
  .laptop {
    top: 200px;
    right: 500px;
    width: 260px;
    height: 150px;
    .screen-border {
      left: 7%;
      width: 86%;
      height: 90%;
      background-color: #1a1a1a;
      border-radius: 8px 8px 0 0;
      border: 2px solid #808080;
      .camera {
        top: 4px;
        left: 107.8px;
        width: 6px;
        height: 6px;
        background-color: #000;
        border-radius: 50%;
      }
      .screen {
        top: 10%;
        left: 5%;
        width: 90%;
        height: 80%;
        background-color: #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 4rem;
          color: #3266cd;
        }
      }
    }
    .base {
      bottom: 0;
      width: 100%;
      height: 10%;
      background-color: #808080;
      border-radius: 2px 2px 10px 10px;
      .notch {
        left: 110px;
        width: 40px;
        height: 8px;
        background-color: #595959;
        border-radius: 0 0 10px 10px;
      }
    }
  }
  .mug {
    top: 300px;
    right: 400px;
    width: 70px;
    height: 50px;
    .mug-body {
      width: 66%;
      height: 100%;
      background-color: #3a3050;
      border-radius: 2px;
    }
    .mug-handle {
      top: 8%;
      right: 6%;
      width: 30%;
      height: 60%;
      border-radius: 0 16px 16px 0;
      border: 6px solid #3a3050;
    }
  }
  .pen-cup {
    top: 250px;
    right: 800px;
    width: 50px;
    height: 100px;
    .pen-cup-body {
      z-index: 1;
      bottom: 0;
      width: 40px;
      height: 0;
      border-top: 70px solid #004d4d;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    .pen {
      left: 10px;
      width: 8px;
      height: 36px;
      transform: rotate(-5deg);
      .pen-body {
        bottom: 0;
        width: 100%;
        height: 28px;
        background-color: #3266cd;
      }
      .pen-top {
        left: 28%;
        width: 50%;
        height: 16px;
        background-color: #3266cd;
      }
    }
    .pencil {
      left: 30px;
      width: 6px;
      height: 36px;
      background-color: orange;
      transform: rotate(7deg);
      .pencil-top {
        width: 100%;
        height: 16px;
        background-color: silver;
        .eraser {
          width: 100%;
          height: 6px;
          background-color: pink;
        }
      }
    }
  }
  .books {
    top: 260px;
    right: 250px;
    width: 120px;
    height: 90px;
    .bottom-book {
      bottom: 0;
      width: 100%;
      height: 30px;
      background-color: #004d4d;
      border-radius: 4px;
      .logo {
        top: 25%;
        left: 10%;
        width: 12%;
        height: 50%;
        background-color: #006666;
        border-radius: 50%;
      }
      .label {
        top: 35%;
        left: 25%;
        width: 40%;
        height: 30%;
        background-color: #006666;
      }
    }
    .middle-book {
      left: 5%;
      bottom: 30px;
      width: 90%;
      height: 20px;
      background-color: #3266cd;
      border-radius: 3px;
      .logo {
        top: 25%;
        right: 10%;
        width: 12%;
        height: 50%;
        background-color: #2851a4;
      }
      .label {
        top: 35%;
        right: 25%;
        width: 50%;
        height: 30%;
        background-color: #2851a4;
      }
    }
    .top-book {
      bottom: 50px;
      width: 90%;
      height: 15px;
      background-color: #ff5050;
      border-radius: 2px;
      .logo {
        top: 25%;
        left: 8%;
        width: 10%;
        height: 50%;
        background-color: #ff8080;
      }
      .label {
        top: 35%;
        left: 20%;
        width: 50%;
        height: 30%;
        background-color: #ff8080;
      }
    }
  }
  .plant {
    top: 200px;
    right: 880px;
    width: 100px;
    height: 150px;
    .pot {
      z-index: 1;
      bottom: 0;
      left: 10px;
      width: 70px;
      height: 0;
      border-top: 70px solid #994d00;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    .pot-rim {
      z-index: 1;
      bottom: 65px;
      left: 5%;
      width: 90%;
      height: 20px;
      background-color: #994d00;
      border-radius: 2px;
      border-bottom: 2px solid #804000;
    }
    .stem {
      top: 10px;
      left: 48%;
      width: 4px;
      height: 60px;
      background-color: green;
    }
    .leaf-1 {
      top: 23px;
      left: 20px;
      width: 30px;
      height: 30px;
      background-color: green;
      border-radius: 0 50px 10px 50px;
    }
    .leaf-2 {
      top: 10px;
      right: 18px;
      width: 30px;
      height: 30px;
      background-color: green;
      border-radius: 50px 0 50px 10px;
      transform: rotate(15deg);  
    }
    .leaf-3 {
      top: -15px;
      left: 35px;
      width: 30px;
      height: 30px;
      background-color: green;
      border-radius: 0 50px 10px 50px;
      transform: rotate(45deg);
    }
  }
  .chair {
    visibility: hidden;
    z-index: 1;
    bottom: 0;
    right: 470px;
    width: 320px;
    height: 145px;
    overflow: hidden;
    .chair-top {
      width: 100%;
      height: 50px;
      border-radius: 10px 10px 50% 50%;
      box-shadow: inset 0 -35px 0 0 #604020;
    }
    .chair-back {
      top: 30px;
      width: 20px;
      height: 130px;
      background-color: #604020;
    }
    .chair-back-1 {
      left: 7%;
      transform: rotate(-6deg);
    }
    .chair-back-2 {
      left: 22%;
      transform: rotate(-3deg);
    }
    .chair-back-3 {
      left: 38%;
      transform: rotate(-1deg);
    }
    .chair-back-4 {
      right: 38%;
      transform: rotate(1deg);
    }
    .chair-back-5 {
      right: 22%;
      transform: rotate(3deg);
    }
    .chair-back-6 {
      right: 7%;
      transform: rotate(6deg);
    }
  }
  .cat {
    z-index: -1;
    top: 150px;
    right: 680px;
    width: 100px;
    height: 200px;
    .cat-body {
      bottom: 0;
      right: 0;
      width: 88%;
      height: 60%;
      background-color: #000;
      border-radius: 50% 50% 0 20%;
      transform: rotate(-5deg);
    }
    .cat-head {
      top: 30px;
      left: 15px;
      width: 70px;
      height: 60px;
      background-color: #000;
      border-radius: 50%;
      transform: rotate(-8deg);
    }
    .cat-left-ear {
      top: 20px;
      left: 8px;
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 25px solid #000;
      transform: rotate(-35deg);
    }
    .cat-right-ear {
      top: 18px;
      left: 60px;
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 25px solid #000;
      transform: rotate(30deg);
    }
    .cat-tail {
      left: -90px;
      bottom: 0;
      width: 120px;
      height: 15px;
      background-color: #000;
      border-radius: 100% 0 0 20px;
    }
  }
}
