* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f2ff;
}

.desk, .tabletop, .tabletop-border, .left-leg,
.right-leg, .laptop, .screen-border, .camera, 
.screen, .base, .notch, .mug, .mug-body,
.mug-handle, .pen-cup, .pen-cup-body, 
.pen-cup-base, .pen, .pen-body, .pen-top, .pencil,
.pencil-top, .eraser, .books, .bottom-book, 
.middle-book, .top-book, .plant, .pot, .stem,
.leaf-1, .leaf-2, .leaf-3 {
  position: absolute;
}

.image-wrap {
  position: relative;
  width: 1500px;
  height: 500px;
  border: 1px solid red;
  .desk {
    bottom: 0;
    right: 220px;
    width: 800px;
    height: 150px;
    .tabletop {
      z-index: 1;
      width: 100%;
      height: 10px;
      background-color: #a3b3c2;
      border-radius: 2px 2px 4px 4px;
    }
    .tabletop-border {
      top: 10px;
      left: 1%;
      width: 98%;
      height: 30px;
      background-color: #8599ad;
      border-radius: 0 0 4px 4px;
    }
    .left-leg, .right-leg {
      top: 40px;
      width: 20px;
      height: 110px;
      background-color: #8599ad;
    }
    .left-leg {
      left: 2%;
    }
    .right-leg {
      right: 2%;
    }
  }
  .laptop {
    top: 200px;
    right: 500px;
    width: 260px;
    height: 150px;
    .screen-border {
      left: 7%;
      width: 86%;
      height: 90%;
      background-color: #669999;
      border-radius: 8px 8px 0 0;
      .camera {
        top: 4px;
        left: 107.8px;
        width: 6px;
        height: 6px;
        background-color: #006666;
        border-radius: 50%;
      }
      .screen {
        top: 10%;
        left: 5%;
        width: 90%;
        height: 80%;
        background-color: #1f2e2e;
      }
    }
    .base {
      bottom: 0;
      width: 100%;
      height: 10%;
      background-color: #006666;
      border-radius: 2px 2px 10px 10px;
      .notch {
        left: 110px;
        width: 40px;
        height: 8px;
        background-color: #004d4d;
        border-radius: 0 0 10px 10px;
      }
    }
  }
  .mug {
    top: 300px;
    right: 400px;
    width: 70px;
    height: 50px;
    .mug-body {
      width: 66%;
      height: 100%;
      background-color: #006666;
      border-radius: 2px;
    }
    .mug-handle {
      top: 8%;
      right: 6%;
      width: 30%;
      height: 60%;
      border-radius: 0 16px 16px 0;
      border: 6px solid #006666;
    }
  }
  .pen-cup {
    top: 250px;
    right: 800px;
    width: 50px;
    height: 100px;
    .pen-cup-body {
      z-index: 1;
      bottom: 0;
      width: 40px;
      height: 0;
      border-top: 70px solid #006666;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    .pen {
      left: 10px;
      width: 8px;
      height: 36px;
      transform: rotate(-5deg);
      .pen-body {
        bottom: 0;
        width: 100%;
        height: 28px;
        background-color: #3266cd;
      }
      .pen-top {
        left: 28%;
        width: 50%;
        height: 16px;
        background-color: #3266cd;
      }
    }
    .pencil {
      left: 30px;
      width: 6px;
      height: 36px;
      background-color: orange;
      transform: rotate(7deg);
      .pencil-top {
        width: 100%;
        height: 16px;
        background-color: silver;
        .eraser {
          width: 100%;
          height: 6px;
          background-color: pink;
        }
      }
    }
  }
  .books {
    top: 260px;
    right: 250px;
    width: 120px;
    height: 90px;
    .bottom-book {
      bottom: 0;
      width: 100%;
      height: 30px;
      background-color: #006666;
      border-radius: 4px;
    }
    .middle-book {
      left: 5%;
      bottom: 30px;
      width: 90%;
      height: 20px;
      background-color: #3266cd;
      border-radius: 3px;
    }
    .top-book {
      bottom: 50px;
      width: 90%;
      height: 15px;
      background-color: orange;
      border-radius: 2px;
    }
  }
}
